@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css'
  layer(primereact);
@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Optional: Set box-sizing to border-box globally for consistent sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Layout */

.layout-top-container {
  position: fixed;
  height: 5rem;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 7rem 2rem 2rem 4rem;
}

.layout-main {
  flex: 1 1 auto;
}

/* OTP Input */
.p-inputotp {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.p-inputotp-input {
  width: 70px;
  height: 70px;
}

/* Input Text */
.p-inputtext {
  height: 2.8rem;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.p-inputtext:focus {
  outline: none !important;
  box-shadow: none !important;
}

.p-inputtext:focus {
  outline: none;
  box-shadow: none;
}
