@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css'
  layer(primereact);
@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --primary-color: #b1c748;
  --secondary-color: #d8e3a3;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Optional: Set box-sizing to border-box globally for consistent sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Layout */

.layout-top-container {
  height: 8%;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
}

.layout-main-container {
  height: 92%;
  display: flex;
  overflow: hidden;
}

.layout-main {
  height: 100%;
}

/* OTP Input */
.p-inputotp {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.p-inputotp-input {
  width: 70px;
  height: 70px;
}

.p-inputotp > .p-inputtext {
  height: 70px;
  width: 80px;
  border-radius: 0;
}

.buttons {
  display: flex;
  gap: 10px;
}

/* Card */
.card {
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: white;
}

/* Text Component */
.custom-text {
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.heading-1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}

.card-h1 {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 3%;
  font-weight: 700;
}

.card-h2 {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 3%;
  font-weight: 400;
}

/* Text Icon Clickable */
.text-icon-clickable-container {
  height: 40px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}

.text-icon-clickable-container > span {
  font-size: 0.75rem; /* equivalent to text-xs */
  font-weight: 400; /* equivalent to font-normal */
  line-height: 1.5rem; /* equivalent to leading-6 */
}
